@model IEnumerable<BookModel>


<div class="container">
    <h3>All Books</h3>
    <div class="row">
        @foreach (var book in Model)
        {
        <div class="col-md-4">
            <svg class="bd-placeholder-img card-img-top" width="225" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">Thumbnail</text></svg>

            <h3>@book.Title</h3>
            <p>@book.Description</p>
            <p><a class="btn btn-secondary" href="/book/getbook/@book.Id">View details &raquo;</a></p>
            <small class="text-muted">@book.Author</small>
        </div>
        }
        
    </div>

</div>