@{
    Layout = "_Layout";
}
<section class="jumbotron text-center">
    <div class="container" >
        <h1>Welcome to BookStore</h1>
        <p class="lead text-muted">
            Lorem ipsum...
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search books</a>
        </p>
    </div>
</section>
<div class="py-5 bg-light">
    <div class="container">
        <h2 class="h2">Top Books</h2>
        <div class="row">
            <div class="col-md-4">
                <svg class="bd-placeholder-img card-img-top" width="225" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">Thumbnail</text></svg>

                <h3>Heading</h3>
                <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
                <small class="text-muted">Author name</small>
            </div>
            <div class="col-md-4">
                <svg class="bd-placeholder-img card-img-top" width="225" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">Thumbnail</text></svg>

                <h3>Heading</h3>
                <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
                <small class="text-muted">Author name</small>
            </div>
            <div class="col-md-4">
                <svg class="bd-placeholder-img card-img-top" width="225" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">Thumbnail</text></svg>

                <h3>Heading</h3>
                <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
                <small class="text-muted">Author name</small>
            </div>
        </div>
    </div>
</div>
@section breadcrumb{ 
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Page 1</a></li>
            <li class="breadcrumb-item active" aria-current="page">Index</li>
        </ol>
    </nav>
}

@section scripts{ 
    <script>
        $(document).ready(function () {
            //alert("document is ready!");
        });
    </script>
}
