@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <img src="~/images/logo.jpg" class="logo" alt="logo" />
    <img src="~/MyStaticFiles/yummy.jpg" />
    <h1>Welcome to book store application</h1>

    <h2>@DateTime.Now.Date</h2>


</body>
<script src="~/jquery/jquery.js"></script>
</html>
<script>
    $(document).ready(
        function () {
            alert("Loading Page.");
        });
</script>